<h2 id="info-month">{{monthInfoCtrl.month}}</h2>
<div id="info-dates">
  <div id="info-today">
    <h3>{{monthInfoCtrl.weekday.full}}</h3>
    <h1 id="info-today-number">{{monthInfoCtrl.dayNumber}}</h1>
  </div>
  <div id="info-cal">
    <span class="info-cal-cell" ng-repeat="day in ::monthInfoCtrl.daysOfWeek track by $index">{{::day.abbreviate}}</span>
    <span class="info-cal-cell"
        ng-class="{'info-calDay-outside': !day.isThisMonth,
                  'info-calDay-today': day.isToday}"
        ng-repeat="day in monthInfoCtrl.calendarDays track by $index">{{day.number}}</span>
  </div>
</div>